<mat-grid-list cols="2" rowHeight="1:1">
	<mat-grid-tile>
		<mat-card matRipple class="pick-card">
			<mat-card-title>
				Ships TODAY
			</mat-card-title>
			<mat-card-content text-align="center">

				<h2>Next Day</h2>
				<mat-grid-list cols="2" rowHeight="1:1">
					<mat-grid-tile>
         
						<button mat-fab color="warn"><mat-spinner color="accent" *ngIf="ShipTodayNextDayLoading"  diameter="30" ></mat-spinner>{{ ShipsTodayNextDay }}</button>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-icon>airplanemode_active</mat-icon>
					</mat-grid-tile>
				</mat-grid-list>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-card matRipple class="pick-card">
			<mat-card-title>
				Ships TODAY
			</mat-card-title>
			<mat-card-content text-align="center">

				<h2>2nd Day, Ground</h2>
				<mat-grid-list cols="2" rowHeight="1:1">
					<mat-grid-tile>
						<button mat-fab color="warn">
              		<mat-spinner color="accent" *ngIf="ShipTodayOtherLoading"  diameter="30" ></mat-spinner>
              {{ShipsTodayOther}}</button>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-icon>local_shipping</mat-icon>
					</mat-grid-tile>
				</mat-grid-list>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile style="">
		<mat-card matRipple class="pick-card">
			<mat-card-title>
				Ships Later
			</mat-card-title>
			<mat-card-content text-align="center">

				<h2>Next Day</h2>
				<mat-grid-list cols="2" rowHeight="1:1">
					<mat-grid-tile>
						<button mat-fab color="primary">
              	<mat-spinner color="accent" *ngIf="ShipLaterNextDayLoading"  diameter="30" ></mat-spinner>
              {{ShipsLaterNextDay}}</button>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-icon>airplanemode_active</mat-icon>
					</mat-grid-tile>
				</mat-grid-list>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-card matRipple class="pick-card">
			<mat-card-title>
				Ships Later
			</mat-card-title>
			<mat-card-content text-align="center">

				<h2>2nd Day, Ground</h2>
				<mat-grid-list cols="2" rowHeight="1:1">
					<mat-grid-tile>
						<button mat-fab color="primary">
              	<mat-spinner color="accent" *ngIf="ShipsLaterOtherLoading"  diameter="30" ></mat-spinner>
              {{ShipsLaterOther}}</button>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-icon>local_shipping</mat-icon>
					</mat-grid-tile>
				</mat-grid-list>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>