  <div  fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" class="content">
  <div  fxFlex="" fxFlexOffset="20px" fxFlexAlign="center">
  
  <b *ngIf="licensePlate!=null">{{licensePlate.LicensePlateId}}</b>
  <mat-spinner *ngIf="gettingLicensePlate"  diameter="30" ></mat-spinner>
  <br/>
  <br/>
      


   		<mat-form-field  style="width: 500px;"  >
				<mat-label>Enter Tracking No</mat-label>
				<input matInput (keyup.enter)="trackingNumberLogic(trackno)" placeholder="" value="" [(ngModel)]="trackno">
       
      </mat-form-field>
      <mat-form-field *ngIf="licensePlate!=null" style="width: 500px;">
       				<mat-label>license plate No</mat-label>
				<input matInput (keyup.enter)="licensePlateLogic(lpn)" placeholder="" value="" [(ngModel)]="lpn">
      </mat-form-field>
      <br/>
        <h3 *ngIf="confirmed" style="color:green;">Confirmed!</h3>
<br/>
      {{this.scannedValue}}
      <br/>

    
          <b *ngIf="order!=null">{{order.PONumber}}</b><br/><br/>
       <mat-spinner *ngIf="gettingOrder"  diameter="30" ></mat-spinner>
       <div *ngIf="order!=null">
        <div  *ngFor='let line of order.Lines;'>
      <h1>  {{line.Item}} &nbsp; &nbsp;&nbsp; {{line.QTY}}</h1>  <h1></h1>
  
         </div>
         </div>

         <div *ngIf="order!=null">{{order.RequiredShipDate}}</div>
  <h3 *ngIf="error!=null" style="color:red;">{{error}}</h3>


        <br/>
        <br/>
        <mat-spinner 
        *ngIf="addingOrderToLicensePlate"  diameter="30" ></mat-spinner>
               <mat-spinner *ngIf="emptyingLicnensePlate"  diameter="30" ></mat-spinner>
     <mat-spinner *ngIf="markingLicensePlate"  diameter="30" ></mat-spinner>

      <mat-form-field *ngIf="showConfirmQuantityForm" style="width: 500px;">
             				<mat-label>how many orders in this License Plate</mat-label>
       			<input  matInput type="number"   placeholder="confirm how many orders in this License Plate" value="" [(ngModel)]="count"> 
       
      </mat-form-field>
            	<button *ngIf="showConfirmQuantityForm"  (click)="confirmCount(count)" mat-raised-button color="primary">confirm</button>
  </div>
  
  </div>