  <div  fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" class="content">
  <div  fxFlex="" fxFlexOffset="20px" fxFlexAlign="center">
  
  <b *ngIf="licensePlate!=null">{{licensePlate.LicensePlateId}}</b>
  <mat-spinner *ngIf="gettingLicensePlate"  diameter="30" ></mat-spinner>
  <br/>
  <br/>
   <mat-spinner *ngIf="gettingOrder"  diameter="30" ></mat-spinner>
   <b *ngIf="order!=null">{{order.PONumber}}</b><br/>
   
   		<mat-form-field *ngIf="licensePlate!=null" style="width: 500px;"  >
				<mat-label>Enter Tracking No</mat-label>
				<input matInput (keyup.enter)="trackingNumberLogic(trackno)" placeholder="" value="" [(ngModel)]="trackno">
      </mat-form-field>
  </div>
  
  </div>