<mat-sidenav-container fullscreen class="example-container">

	<mat-sidenav #drawer class="example-sidenav" mode="over">

		<mat-nav-list>
			<h3 matSubheader>Direct Fulfillment</h3>
			<a mat-list-item (click)="drawer.toggle()" routerLink="/picking">
				<mat-icon matListIcon>view_list</mat-icon>
				<h3 matLine>Select Items To Pick</h3>
			</a>
  
			<a mat-list-item (click)="drawer.toggle()" routerLink="/quality-control">
				<mat-icon matListIcon>qr_code_scanner</mat-icon>
				<h3 matLine>Quality Control</h3>
			</a>
  
			<a mat-list-item (click)="drawer.toggle()">
				<mat-icon matListIcon>cancel</mat-icon>
				<h3 matLine>Cancel</h3>
			</a>

		</mat-nav-list>

	</mat-sidenav>

	<mat-sidenav-content>


		<mat-toolbar color="primary">
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
			<span>SE</span>
			<span class="example-spacer"></span>
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
		</mat-toolbar>
	  <router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>





<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->