  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" class="content">
  <div fxFlex="" fxFlexOffset="20px" fxFlexAlign="center">
    <div fxFlexAlign="center">
	<button   style="width: 500px;" (click)="createLicensePlate()" mat-raised-button color="primary">Create New License Plate</button>
</div>
  <br/>
  <br/>
  <br/>
  <div fxLayoutAlign="center">
  <button  mat-fab color="primary">
    OR
  </button>
  <br/>
  <br/>

  <br/>
  <br/>
  </div>
		<div>
			<mat-form-field style="width: 500px;"  >
				<mat-label>Enter License Plate No</mat-label>
				<input matInput placeholder="" value="" [(ngModel)]="licensePlateId">
      </mat-form-field>
		

     
        
		</div>
	</div>
  </div>
